<h2>login</h2>

<div class="login">
    <form id = "loginForm" action="/login" method="GET">
        <input id="username" placeholder="username">
        <br />
        <input id="password" type="password" placeholder="password">
        <br />
        <input type="submit" value="Submit">
    </form>
</div>

<br />
<hr>
<br />

<h2>register</h2>

<div class="register">
    <form id = "registerForm" action="/register" method="GET">
        <input id="username-register" placeholder="username">
        <br />
        <input id="password-register" type="password" placeholder="password">
        <br />
        <input type="submit" value="Enter">
    </form>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/signup.js"></script>
